.activelink {
    background-color: purple;
    color: white;
    border-radius: 2px;
    /* padding: 2px; */
}

.cartnum {
    background-color: goldenrod;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    position: relative;
    bottom: 15px;
    right: 22px;
    color: white;
}

.pad {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.fontSize {
    font-size: 32px;
}

.slidemaindiv {
    height: 350px;
}

/*---SHOP--- */
.w250 {
    width: 240px;
}

/*---CART---*/
.w700 {
    width: 700px;
}

.w300 {
    width: 300px;
}

.posi {
    position: absolute;
    top: 280px;
    left: 800px;
}

.br-4px {
    border-radius: 100px;
    border: none;
}

.br-4px:hover {
    background-color: dodgerblue;
    color: white;
}

.highlight {
    border: 0.75px solid rgb(223, 217, 217);
    border-radius: 2px;
}

.highlight:hover {
    border: 0.75px solid blue;
}

/* MObile Screen */
@media (min-width:0px) and (max-width:426px) {

    /* Header */
    .activelink {
        background-color: purple;
        color: white;
        border-radius: 4px;
        padding: 1px;
    }

    .cartnum {
        background-color: goldenrod;
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        text-align: center;
        align-content: center;
        position: relative;
        bottom: 5px;
        right: 16px;
        color: white;
    }

    .pad {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .fontSize {
        font-size: 12px;
        font-weight: bold;
    }

    .fontForMobile {
        font-size: 8px;
        font-weight: bold;
    }

    .slidemaindiv {
        height: 150px;
    }

    /* SHOP */
    .w250 {
        width: 150px;
    }

    /*---CART---*/
    .w700 {
        width: 300px;
    }

    .w300 {
        width: 120px;
    }

    .posi {
        position: absolute;
        top: 280px;
        left: 800px;
    }

    .fontMobile {
        font-size: 8px;
    }

    .cartPlus {
        position: relative;
        left: 7px;
        bottom: 2px;
        width: 4px;
        height: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* align-content: center; */
    }

    .cartMinus {
        position: relative;
        bottom: 2px;
        right: 6px;
        width: 4px;
        height: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}